params {

  // -------------------------
  // Input/Output directories
  // -------------------------
  input_dir    = "${launchDir}/input/"
  fastq_dir    = "${params.input_dir}/fastq/"

  // a sample sheet that maps sample IDs to fasta files with refseqs
  // mapping_sample_sheet      = null

  // pattern to match for fastq files
  fastq_pattern             = "*_R[12]*.fastq*"

  // reports on running the pipeline itself
  // tracedir = "${outdir}/pipeline_info"

  // command-line options to the bowtie2 mapping 
  // by default map in local mode
  // override this option to, e.g., map in --end-to-end mode
  // this parameter could include many bt2 command line options, e.g.: "--end-to-end --sensitive"
  bowtie2_options = "--local"

  // a switch to perform strand bias analysis
  quantify_strand_bias       = true

  // orientation of R1 reads for strand-specific RNA libraries
  // Adapters come in 2 flavors.  This boolean being true 
  // corresponds to the orientation where R1s are in
  // the antisense orientation of the original RNA molecule
  R1_antisense_orientation   = true

  // skip per base coverage metrics (samtools depth)?
  skip_per_base_coverage   = false

  // a swith to run a workflow to further process/analyze main workflow output
  process_workflow_output  = true

  // what additional R packages do we need to install on top of tidyverse?
  // for output processing
  R_packages                = "rstatix ggpubr patchwork"

  // ------------------------------------------------
  // optionally tabulate insert sizes of mapped reads 
  // ------------------------------------------------
  tabulate_insert_sizes    = true

  // ----------------------------------------------
  // optionally quantify mismatches in mapped reads
  // ----------------------------------------------
  quantify_mismatches      = true

  // min coverage depth needed to call a mismatch
  min_mismatch_depth           = 0
  // min basecall quality score needed to call a mismatch
  min_mismatch_base_quality    = 30
  // min read mapping quality score needed to call a mismatch
  min_mismatch_mapping_quality = 20

  // ------------------------------------------------
  // viral_consensus-related parameters
  // see: https://github.com/niemasd/ViralConsensus
  // and: doi:10.1093/bioinformatics/btad317
  // ------------------------------------------------

  // decide whether to create new consensus sequences from mapped reads
  generate_consensus_sequences = false

  // minimum quality score for a base to contribute to consensus calling
  consensus_min_qual    =  30

  // minimum depth to call a consensus base at a position
  consensus_min_depth   =  4

  // minimum frequency to call a consensus base at a position
  // 50% consensus: plurality base, must be >50%
  consensus_min_freq    =  0.50

  // number of mapped reads needed to avoid bam filtering
  mapped_read_cutoff   = 1

  // singularity_pull_docker_container option
  //
  // turn this parameter on to pull docker containers and convert to singularity
  //
  // see e.g.: https://nf-co.re/gwas#quick-start, which states:
  //
  //   "If you are persistently observing issues downloading Singularity images directly
  //    due to timeout or network issues then please use the --singularity_pull_docker_container
  //    parameter to pull and convert the Docker image instead."
  //
  // TODO: this option is provided in nf-core pipelines but is it necessary?
  //       possibly remove this option and the corresponding if/else statment in processes?
  //

  singularity_pull_docker_container = false

  // Max resource options
  // Defaults only, expecting to be overwritten
  max_memory                 = '64.GB'
  max_cpus                   = 64
  max_time                   = '240.h'

}

// resource limits defined here
includeConfig 'conf/base.config'

process {

  // ------------------------------------------------------------
  // setup resource usage limits for different types of processes
  // ------------------------------------------------------------

  // high memory process like blastn (using nt database)
  withLabel: 'highmem' {
    maxForks = 2
    cpus = 24
  }

  // low memory processes that use multi-threading
  // like bowtie2
  withLabel: 'lowmem_threaded' {
    maxForks = 6
    cpus = 8
  }

  // low memory processes that don't use multi-threading
  withLabel: 'lowmem_non_threaded' {
    maxForks = 24
    cpus = 1
  }
}

/*
   Profiles allow you to run on different servers or with different base configurations

   See: https://www.nextflow.io/docs/latest/config.html#config-profiles
*/
profiles {

  local {
    exector.name = 'local'
    executor.queueSize = 24
    executor.cpus = 48
    executor.memory = '256 GB'
    // if the pipeline has to access system paths outside of $HOME, $PWD, etc 
    // have to bind those paths to singularity.
    // see: https://sylabs.io/guides/latest/user-guide/bind_paths_and_mounts.html
    // in this profile, we are pointing to local intallations of NCBI databases 
    //so need to access those paths
    singularity.runOptions = "--bind /home/databases"
  }

  conda {
    params.enable_conda    = true
    process.conda          = "./conda/taxonomy_conda_environment.yaml"
    singularity.enabled    = false
    conda.cacheDir         = "$HOME/conda_cacheDir"
  }

  singularity {
    params.enable_conda    = false
    singularity.enabled    = true
    singularity.autoMounts = true
    singularity.cacheDir   = "$HOME/singularity_cacheDir"
  }

  test {
    includeConfig 'conf/test.config'
  }
}

/*
def trace_timestamp = new java.util.Date().format( 'yyyy-MM-dd_HH-mm-ss')
timeline {
    enabled = true
    file    = "${params.tracedir}/execution_timeline_${trace_timestamp}.html"
}
report {
    enabled = true
    file    = "${params.tracedir}/execution_report_${trace_timestamp}.html"
}
trace {
    enabled = true
    file    = "${params.tracedir}/execution_trace_${trace_timestamp}.txt"
}
dag {
    enabled = true
    file    = "${params.tracedir}/pipeline_dag_${trace_timestamp}.pdf"
}
*/

manifest {
    name            = 'stenglein-lab/remapping_workflow'
    author          = 'Mark Stenglein'
    homePage        = 'https://github.com/stenglein-lab/remapping_workflow'
    description     = 'A pipeline to remap reads to a set of (virus) sequences'
    mainScript      = 'main.nf'
    nextflowVersion = '!>=25.10.4'
    version         = '1.0'
}

// Function to ensure that resource requirements don't go beyond
// a maximum limit
// From nf-core pipelines
def check_max(obj, type) {
    if (type == 'memory') {
        try {
            if (obj.compareTo(params.max_memory as nextflow.util.MemoryUnit) == 1)
                return params.max_memory as nextflow.util.MemoryUnit
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max memory '${params.max_memory}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'time') {
        try {
            if (obj.compareTo(params.max_time as nextflow.util.Duration) == 1)
                return params.max_time as nextflow.util.Duration
            else
                return obj
        } catch (all) {
            println "   ### ERROR ###   Max time '${params.max_time}' is not valid! Using default value: $obj"
            return obj
        }
    } else if (type == 'cpus') {
        try {
            return Math.min( obj, params.max_cpus as int )
        } catch (all) {
            println "   ### ERROR ###   Max cpus '${params.max_cpus}' is not valid! Using default value: $obj"
            return obj
        }
    }
}


// Turn this option on to delete all intermediate files from the analysis
// see: https://www.nextflow.io/docs/latest/config.html
// cleanup = true

