params {

  // test datasets and files to confirm pipeline functioning 

  // several negative and positive control fastq for testing
  fastq_dir = "${projectDir}/test/fastq/"
  
  mapping_samplesheet = "${projectDir}/test/mapping_samplesheet.txt"

  generate_consensus_sequences = true

}

// put testing results in test/results folder
outputDir = "test/results/"
